body{
    background-color: #454D6B;
}

header{
    background-color: #6495ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;    
}

.navLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navLogo > img{
    padding: 5px;
}

.navLogo > p {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;   
}

.navButton > button {
    background-color: #5C5D8D;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    margin-right: 10px;
}

.newPost{
    display: flex;    
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 15px;    
}

.newPost > input {
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
    border: 1px solid transparent;
    border-radius: 20px;
}

.newPost > button{
    background-color: #5C5D8D;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 20px;
    position: absolute;
    margin-left: 73%;
    margin-top: 50px;
    font-size: 25px;
    width: 40px;
}

.containerPosts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: #ECF0F1;    
    gap: 15px;
    width: 90%;
    margin-left: 15px;
    border: 1px solid transparent;
    border-radius: 20px;    
}

.containerPosts > img {
    margin-top: 10px;
    max-width: 60px;
}
.containerPosts > h3 {
    color: #030000;
    font-weight: 700;
}

.containerPosts > p {
    color: #363457;
    font-size: 15px;
    margin-left: 10px;
}

.containerBotoes > button{
    border: none;
}


.containerBotoes > button > img {
    width: 35px; 
}

#edit {
    width: 40px;
}


.divContainerModal{
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 1; 
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;    
}

.divModal{
    z-index: 2;
    width: 250px;
    background-color: #6495ED;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-left: 20px;
    margin-top: 0;
    border-radius: 10px;
    gap: 15px;
}

.divModal > h2{
font-weight: 700;
font-size: 30px;
line-height: 42px;
color: #FFFFFF;
-webkit-text-stroke-width: 1px; 
-webkit-text-stroke-color: black;
}

.divModal > input{
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #454D6B;
    border-radius: 10px;
}

.divModal > button {
    width: 120px;
    height: 38px;
    background: #5C5D8D;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    margin-bottom: 20px;
}

.divInformacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6495ED;
    width: 290px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid transparent;
    gap: 40px
}

.divInformacao > h2 {
    font-weight: 700;
    font-size: 20px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
    color: #FFFFFF;
}

.divInformacao > button{
    background: #FF3F5B;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    height: 30px;
}