body{
    background-color: #454D6B;
}

div{    
    background-color: rgba(100, 149, 237, 0.75);
    width: 220px;    
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
}

.containerLogin form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;   
}

div h2{
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;    
}

div input {
    height: 25px;
    border: 1px solid #454D6B;
    border-radius: 5px;
    font-size: 15px;
    color: #C3C3C3;    
}

div button {
    background: #5C5D8D;
    color: #FFFFFF;
    width: 100px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.containerCadastro form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 240px;    
}