body {
  background: #000000;
  height: 100vh;
}

.App > img {
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.App {
  margin: 0px auto;
}
